<DOCTYPE html>
<html>
	<head>
		<title>Adva</title>
	</head>
	<style> 
	.redesh{color:red
	}
	</style>
	
	<body bgcolor = "yellow" style="text-align:center" >
		<h1 style="color:#FF00FF">This is my website    </h1>
		<p>Hello to you<br>Im Adva Haetzni                      </p>
	<img src="unicorn.jpg" width="300">     </img><br><br>
		<a href="https://www.google.co.il/search?q=unicorn&biw=1855&bih=952&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI3aDH5Om6yAIVgUoUCh2MwwXm">do you want to see a unicorn? click!</a><br><br>
		<li>black </li><br>
		<li>red</li><br>
		<li>orange</li><br>
	<input tupe="text">    </input>	
	<input type="submit" value="welcome">

	</body>

</html>
