<DOCTYPE html>
<html>
	<head>
		<title> About me: </title>
				<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body class="class1"   >
		<h1 style="color:#FF00FF">This is my website    </h1>
		<p>About me<br>Im 16, lerning in the academy for music and dance.<br> I am  an opra singer,also playing on the piano. bassicly most of my time im learning music. i sing i a choir calld "Ankor" and we preforme all around the worls. two years ago we want to Japan and jermany, and 3 years ago we ewnt to Ohaio, U.S.A                       </p>





<a href="/home">Click here if you want to come back to the home page</a><br><br>
<a href="/contactme">if you want to contact me, click here!</a><br><br>

	</body>














	
