<DOCTYPE html>
<html>
 
<head>
		<title>contact me</title>
		<link rel="style.css" type="text/css" href="style.css">
	</head>

<body bgcolor = "9999FF" style="text-align:center" >
<h1 class=headline >This is my website    </h1>

<p>contact me!<br> so if you liked my story, i would love to hear from you about your spacial story! leave here your details and i will talk to you as soon as possible!                  </p>

<h2> file it in:<h2>
<p>
your facebook name:<input  type="text"></input></p>
<p>your website name (or link):<input  type="text"></input></p>
<p>your snapchat name:<input  type="text"></input></p>

<a href="/home">if you want to come back to the main page, click here!</a><br><br>
<a href="/aboutme">if you want to read about my life, click here!</a><br><br>
<p> have a great day!!</p>

</body>




