
<html>
	<head>
		<title>Adva</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	
	<style> 
	.redesh{color:red
	}
	</style>
	</head>
	<body class="yellowbg" >
		<h1 class=headline >This is my website    </h1>
		<p>Hello to you<br>Im Adva Haetzni                      </p>
	<img src="../static/adva.jpg" width="300">    <br><br>
		<a href="https://www.google.co.il/search?q=unicorn&biw=1855&bih=952&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI3aDH5Om6yAIVgUoUCh2MwwXm">do you want to see a unicorn? click! (my favorit animal)</a><br><br>
<a href="photo.html">if you want to see more pictures about things that i do, click!</a><br><br>

 <nav>
  <a href="/aboutme">about me</a> |
  <a href="/contactme">contact me</a> |
</nav><br><br>
<h3> this is me singing with my choir</h3>
<p> <iframe width="560" height="315" src="https://www.youtube.com/embed/cNQV5tgJolc?list=PL7454D9C316EEF8E8" frameborder="0" allowfullscreen></iframe></p>
 


	</body>

</html>
